<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alayyubi06.islamiapp">
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/islamicapps"
        android:label="@string/app_name"
        android:roundIcon="@drawable/islamicapps"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".KiblatApp">
        </activity>
        <activity android:name=".CompassActivity">
        </activity>
        <activity android:name=".HalalApp">
        </activity>
        <activity android:name=".ShalatApp">
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>